<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미니프로젝트2조 | 삼행시 담벼락</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <meta property="og:title" content="미니프로젝트2조 | 삼행시 담벼락" />
    <meta property="og:description" content="웃을 일 없었던 하루, 남들이 적어 놓은 삼행시 보고 피식 한 번 하면 어떨까요? 저희 삼행시 담벼락은 누구나 방문해서 간단한 삼행시를 남기고, 서로 열람할 수 있는 서비스입니다. 내 삼행시를 다른 사람들에게 자랑하고, 좋아요를 받아보세요. 그리고 명예의 전당에 올라 내 삼행시를 동네방네 자랑해보세요!" />
    <meta property="og:image" content="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcRR76s%2Fbtr1I98OToS%2Fp7yZKq7Oj6nqv1nA1xcKo0%2Fimg.png" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/p_2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</head>
<body>
    <main>
        <a href="#" id="close_btn">닫기  <img src="../images/Rectangle 17.png" alt="닫기"></a>
        <div class="p2_txt_box">
            <ul id="p2_write">
                <li id="p2_writer">핑핑이 어머니<span>의 삼행시</span></li>
            </ul><!-- e:write -->
            <ul class="p2_user">
                <li>양 : 파를 까고싶은데 응애</li>
                <li>기 : 구가 없어서 응애</li>
                <li>철 : 로된 채칼을 들고왔다 응애</li>
            </ul><!-- e:user -->
            <div class="p2_like_box">
                <button style="color:red">♥ 33</button>
            </div><!-- e:p2_like_box -->
        </div><!-- e:txt_box -->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="p2_input_box">
            <div class="p2_input">
                <input type="text" class="p2_user" placeholder="작성자명을 입력해주세요.">
                <input type="text" class="p2_comment" placeholder="댓글을 입력해주세요.">
            </div><!-- e:p2_input -->
            <div class="btn">
                <button class="p2_comment_post">입력</button>
            </div><!-- e:btn -->
        </div><!-- e:p2_input_box -->
        <div class="p2_txt_list">
            <ul class="p2_user_box">
                <li><span class="p2_user">핑핑이어머니</span>님</li>
                <li class="txt">가가가가가가아나난아ㅏㅇㄴㄴ안안아ㅏ아아아</li>
            </ul><!-- e:p2_user -->
        </div><!-- e:p2_txt_list -->
    </main>
</body>
</html>